@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap);
/* Whole document: */
body{
  font-family: 'Montserrat', sans-serif;
}
/* Headers */
h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat', sans-serif;
  font-size: 24pt;
}
p{
  font-family: 'Montserrat', sans-serif;
  font-size: 24pt;
}
div{
  font-family: 'Montserrat', sans-serif;
  font-size: 18pt;
}
ul{
  font-family: 'Montserrat', sans-serif;
  font-size: 24pt;
}
table, th, td{
  font-family: 'Montserrat', sans-serif;
  font-size: 18pt;
}
.contents {
    margin-top: 5px;
}





